/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 10 jul 2024, 16:57:12
    Author     : julio
*/
body{
    background-color: #bcf1b5;
}

h1{
    text-align: center;
}

table{
    
    width: 50%;
    text-align: center;
    margin: auto;
    
}